<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div class="container">
        <h1>Seja bem-vindo ao ChatOnline</h1>
        <!-- Formulário com campo de nome e mensagem -->
        <form action="/chat" method="POST">
            <input type="text" placeholder="Digite seu nome de usuário ex: batatinha123" name="name" required>
            <input type="text" placeholder="Digite sua mensagem" name="message" required>
            <button type="submit">Enviar</button>
        </form>
    </div>
    
</body>
</html>
